# Dependências
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*

# Variáveis de ambiente
.env
.env.local
.env.production

# Vite
.vite/

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
